.bg {
    margin-top: 50px;
    background-image: url("../images/paper.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.content {
    padding: 20px;
    margin: 20px 20px 500px;
    background: rgba(255, 255, 255, 0.699);
    border: 2px dotted rgb(235, 235, 235);
    height: 100%;
}

h1 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 30px;
    padding: 10px 30px;
    margin: 20px 20px 60px 20px;
    border-bottom: 2px solid red;
    text-align: right;
    font-weight: bold;
}

div {
    margin: 10px;
}

h2 {
    margin: 10px 5px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
    font-weight: bold;
}

p {
    margin: 10px;
}

p {
    color: red;
}

button {
    margin: 10px;
}

.character, .you {
    border: 1px solid black;
    background: white;
    padding: 2px;
    margin: 2px;
    text-align: center;
    width: 110px;
    display: inline-block;
}

.enemy {
    border: 1px solid black;
    background: rgba(202, 28, 57, 0.788);
    padding: 2px;
    margin: 2px;
    text-align: center;
    width: 110px;
    display: inline-block;
}

.defender {
    color: white;
    background: black;
    padding: 2px;
    margin: 2px;
    text-align: center;
    width: 110px;
    display: inline-block;
}