.character, .you {
    border: 1px solid black;
    background: white;
    padding: 2px;
    margin: 2px;
    text-align: center;
    width: 110px;
    display: inline-block;
}

.enemy {
    border: 1px solid black;
    background: rgba(202, 28, 57, 0.788);
    padding: 2px;
    margin: 2px;
    text-align: center;
    width: 110px;
    display: inline-block;
}

.defender {
    color: white;
    background: black;
    padding: 2px;
    margin: 2px;
    text-align: center;
    width: 110px;
    display: inline-block;
}